extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor enim nec odio consectetur gravida. Nam dictum orci ligula, sit amet sagittis eros hendrerit viverra. Cras facilisis erat in finibus ullamcorper. Suspendisse imperdiet et turpis nec aliquam. Proin blandit ante et justo varius, sit amet scelerisque eros mattis. Nunc vitae nibh mollis, ultricies leo id, rhoncus libero. Phasellus pharetra cursus pellentesque nam turpis odio.

                p Ut in ultrices massa, et eleifend massa. Aliquam ut malesuada massa. Proin in ante turpis. Praesent fringilla, odio ut pretium imperdiet, orci nunc ultricies mauris, id consectetur ante felis sit amet ex. Nam tortor felis, placerat ac tellus non, porttitor laoreet massa. Suspendisse potenti. Donec cursus vestibulum sapien ut sagittis.

                p Nunc eleifend pretium quam ac elementum. Suspendisse feugiat aliquam suscipit. Duis scelerisque enim quis quam eleifend, a pulvinar velit porta. Praesent rutrum enim vitae hendrerit malesuada. Donec porta nisi molestie pellentesque fringilla.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 La Mejor Seguridad
                    p Phasellus fringilla eros eget purus tincidunt, sed convallis lectus ultricies. Proin eros urna, cursus quis eleifend sed, ornare nec lacus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Phasellus fringilla eros eget purus tincidunt, sed convallis lectus ultricies. Proin eros urna, cursus quis eleifend sed, ornare nec lacus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Phasellus fringilla eros eget purus tincidunt, sed convallis lectus ultricies. Proin eros urna, cursus quis eleifend sed, ornare nec lacus.

